<div class="row">
  <div class="col-lg-3">
    <%= image_tag @gravatar_url, class: "img-rounded" %>
  </div>
  <div class="col-lg-4">
    <h4><%=@user.email%></h4>
    <p><b>Joined:</b> <%= @user.created_at.strftime('%B %d %Y')%></p>
    <%= link_to "Edit Username/Password", edit_user_registration_path, method: :get%>
  </div>
</div>