<div class="col-md-6 col-sm-12">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3>Welcome to Lstr</h3>
    </div>
    <div class="panel-body">
      <h4>Create simple check lists easily:</h4>
      <p><i class="fa fa-check-square-o "></i> Lstr allows you to easily create checklists of things to do.</p>
      <br/>
      <h4>Lists are Sortable:</h4>
      <p><i class="fa fa-check-square-o "></i> When in edit mode, click and drag lists or checklist items to reorder</p>
      <br/>
      <h4>Lists items are Editable:</h4>
      <p><i class="fa fa-check-square-o "></i> When in edit mode, double click on an item to edit its text</p>
      <br/>
      <h4>Lists are Completable:</h4>
      <p><i class="fa fa-check-square-o "></i> Get instantaneous completeness for each list.</p>
      <br/>
      <h4>Lists are Private:</h4>
      <p><i class="fa fa-check-square-o "></i> Only you can see your lists</p>
      <br/>
      <h4>Lists are Shareable:</h4>
      <p><i class="fa fa-square-o "></i> Share your lists with other users (coming soon)</p>
    </div>
  </div>
</div>

<div class="col-md-6 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="heading">Checklist Demo (no edit)</div>
      <div id="completeness"></div>
    </div>
    <div class="panel-body">
      <div id="list_body">
        <div class="sublist"> 
          <div class="sublist-title" style="background-color: white;"> 
            <text class="editable">Grocery Shopping</text> 
          </div> 
          <ul class="sublist-list ui-sortable">
            <div class="checklist-item"> 
              <i class="fa fa-square-o checkbox"></i> 
              <text class="editable">Milk</text> 
            </div>
            <div class="checklist-item">
              <i class="fa fa-square-o checkbox"></i> 
              <text class="editable">Water</text> 
            </div>
            <div class="checklist-item"> 
              <i class="fa fa-square-o checkbox"></i> 
              <text class="editable">Eggs</text> 
            </div>
          </ul> 
        </div>
        <div class="sublist"> 
          <div class="sublist-title" style="background-color: white;"> 
            <text class="editable">Hardware Store</text> 
          </div> 
          <ul class="sublist-list ui-sortable">
            <div class="checklist-item"> 
              <i class="fa fa-square-o checkbox"></i> 
              <text class="editable">6-32 screws</text> 
            </div>
            <div class="checklist-item"> 
              <i class="fa fa-square-o checkbox"></i> 
              <text class="editable">loctite</text> 
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>