<div class="row">
  <div class="col-md-12">
    <% @robots.each do |robot|%>
      <div class="col-md-6">
        <div class="well robot_post">
          <h4><%= link_to robot.title, blog_post_path(robot.id) %></h4>
          <%= raw robot.content%>
        </div>
      </div>
    <% end %>
  </div>
</div>  