<li class='checklist-item' id="{{id}}">
  {{#if checkstate}}
    <i class='{{checkstate}}'></i>
  {{else}}  
    <i class='fa fa-square-o checkbox'></i>
  {{/if}}
  <text class='editable'>{{{value}}}</text>
</li>