<li class='unstyled' id="{{id}}">
  <div class='sublist'>
    <div class='sublist-title'>
      <text class='editable'>
       {{{value}}}
      </text>
      <i class='sublist_completion'>(100%)</i>
    </div>
    <ul class='sublist-list unstyled'></ul>
  </div>
</li>