// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content_summernote{
  height:500px;
}

.robot_post{
  overflow: hidden;
  h4{
   font-weight: bold;
   
   a{
    color:black;
    text-decoration: underline;
    
    }
    a:hover{
     color: white; 
   }
  }
}