// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-vertical{
  position: relative !important;
  top: 50% !important;
  transform: translateY(-50%) !important; 
}

.checkbox{
  font-size: 1.2em !important;
  padding-top: 2px;
  padding-left: 0px !important;
}

.delete-checklist-item, .delete-sublist-item {
  color: red;
  font-size: 1.1em !important;
  padding-top: 2px;
}

.heading{
 font-size: 1.75em;
 font-weight: bold;
}

.list-heading{
 min-height: 4em;
 display:block;
}

.list_item{
 padding: 3px;
}

.placeholder {
  background-color: LightGray;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100px;
}

.sublist_completion{
  font-size: .6em; 
  font-weight: normal;
}

.sublist-title{
  font-weight: bold;
  font-size: 1.5em;
}

td.list{
  font-weight: bold;
  font-size: 1.25em;
  a{
    color: blue;
  }
  a:hover{
    color: white;
  }
}

div#list_body ul
{
  list-style-type: none !important;
}