// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-vertical{
  position: relative !important;
  top: 50% !important;
  transform: translateY(-50%) !important; 
}

.checkbox{
  font-size: 1.2em !important;
  padding-top: 2px;
  padding-left: 0px !important;
}

.delete-checklist-item, .delete-sublist-item {
  color: red;
  font-size: 1.1em !important;
  padding-top: 2px;
}

.heading{
 font-size: 1.75em;
 font-weight: bold;
}

.list-heading{
 min-height: 4em;
 display:block;
}

.list_item{
 padding: 3px;
}

.placeholder {
  background-color: LightGray !important;
}

.sublist_completion{
  font-size: .6em; 
  font-weight: normal;
}

.sublist-list{
  min-height: 40px;
}

.sublist-title{
  font-weight: bold;
  font-size: 1.5em;
}

td.list{
  font-weight: bold;
  font-size: 1.25em;
  a{
    color: blue;
  }
  a:hover{
    color: white;
  }
}

div#list_body ul
{
  list-style-type: none !important;
}

.well-default{
  background-color: #f5f5f5; 
  padding: 0px 10px 15px 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid LightGray;
}

.well-success{
/*   border-radius: 5px; */
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid LightGreen;
  background-color: #d6e9c6;
  padding: 0px 10px 15px 10px;
  
}